html,
body,
#root
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.545);
    overflow: hidden;
    margin: 0;
}

.back{
    
    position: absolute;
    top: 80%;
    left: 30%;
    z-index: 2;
    color: white;
    
}

.next{
    position: absolute;
    top: 80%;
    left: 70%;
    z-index: 2;
    color: white;
}

.current{
    position: absolute;
    top: 75%;
    left: 50%;
    z-index: 2;
    color: white;
}

